input[type="email"], textarea {

  background-color : #d1d1d1; 

}
#center
{
 margin-left: 300px;
}

#login
{
  font-size: 32px;
  color: #a7a5a5;
  font-family: 'OpenSans-Regular';
}
#button
{
  width: 140px;
  height: 40px;
}
input[type="email"], textarea {

  background-color : #d1d1d1; 

}
#label-all
{
  margin-left: 15px;
}
#nav-iop
{
    overflow: hidden;
   
}

footer
  {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(71, 71, 71);
   color: white;
   text-align: center;
   margin-top: -50px;
   
  }

nav .badge{
  position: relative;
  top:20px;
  right:20px;
}
header
{
  background: url(Components/homeimg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  width: 100%;
}
@media screen and (max-width:670px)
{
  header{
   min-height: 300px;
   width: 100%;
  }
  #itching
  {
    font-size: 10px;
  }
  #header-text
  {
    font-size: 24px;
  }
}
#header-text
{
  text-align: center;
  font-family: OpenSans-Regular;
  color: #615f5f;
}
#itching
{
  text-align: center;
  font-family: OpenSans-Regular;
  color: #777474;
  font-size: 20px;

}
#g1
{
  border-radius: 10px;
}
@media screen and (max-width:432px)
{
  #g1
  {
    margin-left: 40px;
    width: 200px;
  }
  #g1-p
  {
    margin-left:110px;
  }
  #g1-p-h
  {
    text-align: center;
  }
}
#img-card
{
  width: 100px;
    height: 80px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}

#profile-badge{
  position: relative;
  top:10px;
  left:-320px;
  border-radius: 20px;
}
#img-card
{
  border-radius: 11px;
}
#but
{
  border-radius: 20px;
}
footer
{
  background-color: rgb(95, 95, 95);
}
#para12
{
  height: 100px;
}






